:host {
  .world {
    height: 100%;
    background-color: black;
  }

  .text {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fffade;
    font-size: x-large;
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fffade;
    font-size: x-large;
  }
}
