:host {
  font-family: 'Bradley Hand', 'Comic Sans MS', cursive;
  text-align: center;

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3aa3e5;
    height: 100%;

    h1 {
      font-size: 50pt;
      color: #d6bafa;
      text-shadow: #0f4337 1px 1px 1px;
    }

    .flipflop {
      width: 500px;
      height: 800px;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        margin-top: 2em;
        width: 70%;
      }

      h2, h4 {
        text-shadow: #0f4337 1px 1px 1px;
      }

      h2 {
        color: yellow;
        font-size: 30pt;
      }

      h4 {
        color: #ebbdf8;
        font-size: 24pt;
        font-family: 'Comic Sans MS', cursive;
      }
    }

    button {
      background-color: #9c74fa;
    }
  }
}
