<div class="main">
  <h1>Which flip flop are you?</h1>
  <div *ngIf="yourFlipflop" class="flipflop">
    <h2>{{yourFlipflop.title}}</h2>
    <h4>{{yourFlipflop.description}}</h4>
    <img [src]="'assets/flipflop/' + yourFlipflop.link + '.png'"/>
  </div>
  <button mat-raised-button (click)="launchLoop()" color="primary" *ngIf="!looping">{{!yourFlipflop ? 'Tell me!' : 'I disagree, try again.'}}</button>
</div>
