<div [class]="selectedBackground">
  <div class="main">
    <div class="wordart" [ngClass]="selectedClass">
      <span class="text" [appDataText]="text || 'Type!'">{{text || 'Type!'}}</span>
    </div>
  </div>
</div>
<div class="input">
  <mat-form-field>
    <input #input matInput [(ngModel)]="text" (ngModelChange)="updateClasses()" (blur)="refocus()"/>
  </mat-form-field>
</div>
