:host {
  .main {
    background-color: black;
    color: white;
    font-size: 20pt;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .progress-box {
      border: 1px solid white;
      width: 30%;
      height: 30px;

      .progress {
        background-color: white;
        display: inline;
      }
    }
  }
}
