:host {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b74635;


    .head {
      position: absolute;
      width: 200px;
      height: 200px;
      z-index: 1;

      &:hover {
        animation: shaking 1s linear infinite;
      }

      .pictures {
        img {
          position: absolute;
          width: 100%;
        }
      }

      .eyes {
        display: flex;
        width: 24px;
        height: 24px;
        position: absolute;
        bottom: 47%;
        background: #fff;
        border-radius: 50%;

        &.eye-left {
          left: 63px;
        }

        &.eye-right {
          right: 59px;
        }

        .eye-inner {
          position: relative;
          display: inline-block;
          border-radius: 50%;
          width: 10px;
          height: 10px;
          background-color: white;
          margin-left: 2px;
          margin-top: 2px;
        }

        .eye-inner:after {
          position: absolute;
          top: 1px;
          left: 5px;
          width: 10px;
          height: 10px;
          background: black;
          border-radius: 50%;
          content: " ";
        }
      }

      .eyebrows {
        display: flex;
        width: 44px;
        height: 44px;
        position: absolute;
        bottom: 40%;

        &.eyebrow-left {
          left: 50px;
          transform: rotate(-40deg);
        }

        &.eyebrow-right {
          right: 47px;
          transform: rotate(40deg);
        }

        .eyebrow-inner {
          position: relative;
          display: inline-block;
          width: 100%;
          height: 8px;
          background-color: black;
        }
      }
    }
  }
}


@keyframes shaking {
  0% {
    transform: translate3d(1px, 0, 0);
  }
  10% {
    transform: translate3d(-1px, 0, 0);
  }
  20% {
    transform: translate3d(2px, 0, 0);
  }
  30% {
    transform: translate3d(-4px, 0, 0);
  }
  40% {
    transform: translate3d(4px, 0, 0);
  }
  50% {
    transform: translate3d(-4px, 0, 0);
  }
  60% {
    transform: translate3d(4px, 0, 0);
  }
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  80% {
    transform: translate3d(2px, 0, 0);
  }
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  100% {
    transform: translate3d(1px, 0, 0);
  }
}
