<div class="main">
  <div class="head">
    <div class="pictures">
      <img src="assets/goaway/head.png">
      <img #mouth class="mouth" src="assets/goaway/mouth.png">
    </div>
    <div #eyes class="eyes eye-left">
      <div class="eye-inner"></div>
    </div>
    <div #eyes class="eyes eye-right">
      <div class="eye-inner"></div>
    </div>
    <div #eyebrows class="eyebrows eyebrow-left">
      <div class="eyebrow-inner"></div>
    </div>
    <div #eyebrows class="eyebrows eyebrow-right">
      <div class="eyebrow-inner"></div>
    </div>
  </div>
</div>
