<div class="main">
  <div *ngIf="go">
    <img #minus id="minus" src="assets/minuscortex/minus.png"/>
    <video src="assets/minuscortex/video.mp4" autoplay loop></video>
    <img #cortex id="cortex" src="assets/minuscortex/cortex.png"/>
    <div class="spam">
      C'EST MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS ET CORTEX ET MINUS
    </div>
  </div>
  <div *ngIf="!go">
    <button mat-raised-button (click)="go = true;">Click!</button>
  </div>
</div>
