:host {
  .main {
    background-color: #014b6d;
    height: 100%;
    max-height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      display: contents;

      .spam {
        top: 0;
        font-family: 'Comic Sans MS', sans-serif;
        position: absolute;
        font-size: 60pt;
        color: #fff7d2;
        width: 200%;
      }

      video {
        position: absolute;
        z-index: 2;
      }

      img {
        position: relative;
        z-index: 3;
      }

      #minus {
        left: -350px;
      }

      #cortex {
        right: -400px;
      }
    }
  }
}
