<div class="home">
  <div class="pattern">
    <img src="../../../assets/home/home-pattern.svg" alt="Pattern"/>
  </div>
  <div class="logo">
    <img src="../../../assets/home/home-logo.svg" alt="Cabinet of Curiosities"/>
  </div>
  <div class="button">
    <button mat-raised-button color="primary" (click)="showCuriosity()">Show me a curiosity!</button>
  </div>
</div>
<div class="credits">
  <div>Inspired by Tim Holman's <a href="https://theuselessweb.com/" target="_blank">The Useless Web</a>.</div>
  <div><a href="https://gitlab.com/clockworks1/cw-curiosities" target="_blank">Check the code!</a></div>
  <div><a href="https://www.paypal.com/donate/?business=6ZLJABGZHPETA&no_recurring=0&currency_code=EUR" target="_blank">Buy me a beer! 🍺</a></div>
</div>
<div class="clockworks">
  <div><a href="https://clockworks.fr/" target="_blank">Who am I? (FR)</a></div>
</div>
