:host {
  .home {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #15957A77 0%, #FF571A77 100%);
    display: flex;
    flex-direction: column;
    align-items: center;

    .pattern {
      position: absolute;
      opacity: .02;
      z-index: -1;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      text-align: center;

      img {
        height: 300vh;
        width: 300vw;
        margin-left: -75vw;
        margin-top: -75vh;
        animation: rotating 15s linear infinite;
      }
    }
    .logo {
      margin-top: 25vh;
      width: 30%;
    }
    .button {
      margin: 5em;
    }
  }

  .credits {
    position: absolute;
    bottom: 0;
    padding: .5em;
  }

  .clockworks {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .5em;
  }
}


@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
